<%= @user.email %>
<% past = Array.new %>
<% future = Array.new %>
<% @event.each do |user|%>
<table>
<tbody>

    <% if user.creator_id == current_user.id %>
      <% if user.date > Time.zone.now %>
        <% future.push(user) %>
      <% else %>
        <% past.push(user) %>
      <% end %>


    <% else %>
      <p></p>
    <% end %>
<% end %>

    <% future.each do |shark| %>
    <tr>
      <td><%= shark.date %></td>
      <td><%= link_to 'Show', shark %></td>
      <td>Future</td>
    </tr>
    <% end %>


    <% past.each do |shark| %>
    <tr>
      <td><%= shark.date %></td>
      <td><%= link_to 'Show', shark %></td>
      <td>Past</td>
    </tr>
    <% end %>

</tbody>
</table>
<%= link_to 'Back', root_path %>
